@import "mixins";

.landing-container {
  .button-group {
    @include flex-col(16px);

    button {
      padding: 0.625rem 0.75rem;
      background: unset;
      border-radius: 8px;
      font-size: 0.96rem;
    }
    &.btn-group-2 button {
      &:nth-child(1) {
        border: 1px solid #000;
        color: #000;
      }
      &:nth-child(2) {
        color: #000;
        background: #ffc827;
      }
    }
  }

  form {
    @include flex-row(1rem);
    @include flex-row-center(16px);
    button {
      padding: 10px 16px;
      width: fit-content;
      border-radius: 8px;
    }
  }
  .input-wrapper {
    @include flex-row(8px);
    input,
    textarea,
    select {
      padding: 14px 16px;
      width: 360px;
      font-size: 0.95rem;
      border-radius: 16px;
      border: #fff;
      color: #333;
      padding-right: 25px;
      &::placeholder {
        color: #777;
      }
    }
    select {
      appearance: none; /* Remove default browser styling */
      background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>'); /* Custom arrow icon */
      background-repeat: no-repeat;
      background-position: right 12px center; /* Position the arrow */
      background-size: 7px;
    }
    textarea {
      height: 120px;
    }
    label {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 2rem !important;
    }
  }
}
#hero .button-group button:nth-child(1) {
  border-color: #fff;
  color: #fff !important;
}

.landing-wrapper {
  min-height: 100vh;
  background-image: url("../img/landing.webp");
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 500px) {
    padding: 24px 16px 60px 16px;
  }
}

.landing-hero {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 8rem;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas: "hero-title" "hero-messages" "hero-paragraph" "hero-buttons" "hero-stats";
  .icon-group {
    grid-area: hero-icons;
    img {
      height: 48px;
    }
  }
  .landing-logo {
    max-width: 128px;
  }
  .button-group {
    grid-area: hero-buttons;
  }
  .statistics {
    margin-top: 2rem;
    @include flex-row(1rem);
    grid-area: hero-stats;

    .icon-group {
      @include flex-col(16px);
      img {
        height: 36px;
      }
    }
  }
  h1,
  h3 {
    font-family: "Rubik", serif;
  }
  h1 {
    color: #fff;
    font-size: 2.25rem;
    grid-area: hero-title;
  }
  p {
    color: #fff;
    grid-area: hero-paragraph;
    margin: 0px;
  }
  span {
    color: #a0c5d9;
  }

  h3 {
    color: #fff;
    font-weight: 500;
  }

  h1,
  h2,
  p {
    max-width: 500px;
  }
  form {
    width: 100%;
    max-width: 400px;
    @include flex-row(1rem);
    padding: 1.6rem 1.6rem;
    background: #f4f5f6;
    border-radius: 24px;
    grid-area: hero-form;
    h2 {
      font-size: 1.35rem;
      font-weight: 800;
      text-align: center;
      margin-top: 12px;
      margin-bottom: 20px;
    }
    .input-group {
      @include flex-row(0.5rem);
    }
    label {
      font-size: 0.8rem;
    }
    input,
    textarea {
      width: 100%;
      padding: 0.6rem 0.75rem;
      font-size: 0.9rem;
      border-radius: 12px;
      border: 1px solid #dadada;
    }
    textarea {
      height: 92px;
    }
    button {
      height: 40px;
      width: 100%;
      background: #2f474d !important;
      color: #fff;
      border-radius: 8px;
    }
  }
  .landing-logo {
    margin-bottom: 2rem;
  }

  h1,
  p {
    margin-bottom: 1rem;
  }

  form {
    margin-bottom: 1rem;
  }
  .messages-wrapper {
    max-width: 480px;
    grid-area: hero-messages;
    align-self: center;
    margin-bottom: 24px;
    @media screen and (max-width: 1256px) {
      width: max-content;
      .message-md {
        padding: 14px 20px 14px 12px;
        border-radius: 22px;
      }
      .title {
        font-size: 0.9rem;
      }
      .body {
        font-size: 0.8rem;
      }
    }
  }
  @media screen and (min-width: 1256px) {
    justify-items: unset;
    grid-template-columns: minmax(300px, 540px) auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "hero-title hero-messages"
      "hero-paragraph hero-messages" "hero-buttons hero-messages" "hero-stats hero-messages";

    h1,
    h2,
    p {
      max-width: unset;
    }
  }

  @media screen and (max-width: 500px) {
    h1,
    h2,
    p {
      max-width: 400px;
    }
  }
}

section.landing-features {
  padding: 4rem 2rem;
  min-height: 90vh;
  @include flex-row(2rem);
  background: #f7f7fb;
  color: #111111;

  h1 span {
    color: #0d65c5;
  }
  h1 {
    width: 650px;
    text-align: center;
    @media screen and (max-width: 1256px) {
      width: unset;
      text-align: initial;
    }
  }
  p:nth-child(1) {
    width: 740px;
  }
  @media screen and (max-width: 1256px) {
    h1,
    p {
      max-width: 628px;
    }
  }
  // THIS DA WRAPPER
  .feature-group {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
    row-gap: 28px;
    .landing-feature {
      width: 100%;
      max-width: 300px;
    }
    @media screen and (max-width: 1256px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      column-gap: 24px;
      row-gap: 24px;
      .landing-feature {
        max-width: unset;
      }
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
  .landing-feature {
    padding: 1.6rem;
    background: #060720;
    color: #fff;
    border-radius: 12px;
    @include flex-row(1rem);
    align-items: unset;
    box-shadow: 12px 12px 36px #bebebe;
    img {
      width: 40px;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 900;
      color: #fed96b;
    }
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
}

.api-feature {
  background: #f9f7f6 !important;
}

.syntax-highlighter {
  background-color: #eaeaea;
  border-radius: 16px;
  border: 1px solid #dadada;
  padding: 16px 16px 16px 16px;

  .button-group {
    padding-bottom: 8px;
    overflow-x: auto;
    button {
      transition: 0.08s ease-out;
      &:hover,
      &:focus,
      &:focus-visible {
        background-color: #cecece;
        outline: none;
      }
    }
    button.activeTab {
      background-color: #0d65c5;
      color: #fff;
    }
  }
  pre {
    margin: 0 !important;
    margin-top: 4px !important;
    height: 280px;
    width: 600px;
    padding: 16px !important;
    background: #fff !important;
    border-radius: 16px;
    box-shadow: 12px 12px 36px 67% #bebebe;
    scrollbar-width: thin; /* Or auto, thin */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* thumb track 
    /* For WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      width: 8px; /* Adjust width as needed */
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Or a very light background */
      border-radius: 4px; /* Optional rounded corners */
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2); /* Subtle color */
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.3); /* Slightly darker on hover */
    }
    code {
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 768px) {
    &,
    pre {
      width: 100%;
    }
  }
}

.landing-whatsapp {
  min-height: 360px;
  @include flex-col(4rem);
  background: #eaeaea;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 0px;

  //# please CHANGE this later
  &.last {
    padding-bottom: 120px !important;
  }
  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  span {
    color: #1489ea !important;
  }
  p {
    line-height: 1.5rem;
  }
  ul {
    margin-left: 1.5rem;
  }
  &-left {
    max-width: 560px;
  }
  img {
    width: 280px;
    border-radius: 24px;
  }
  &.la-wa2,
  &.dark {
    background: #060720;
  }
  &.light {
    color: #222;
  }

  @media screen and (max-width: 500px) {
    min-height: 600px;
    padding: 36px;
    @include flex-row-center(1rem);
  }
}

/*
 * Footer 
*/

.landing-footer {
  min-height: 65vh;
  background-color: #e5e5e9;
  padding-top: 40px;
  padding-bottom: 16px;
  @include flex-row(1rem);
  .landing-closing {
    padding: 8rem 0;
    @include flex-row-center(1rem);
  }
  .button-group button {
    &:first-child {
      border-color: #000;
      color: #000;
    }
  }
  footer {
    width: 100%;
    @include flex-col(4rem);
    justify-content: space-between;
    align-items: start;
    p {
      color: #001418;
      font-size: 14px;
    }
    p {
      width: 300px;
    }
    img {
      width: 100px;
      max-width: max-content;
    }
    a {
      color: #001418;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 768px) {
      @include flex-row(4rem);
    }

    .wrapper-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 2rem;
      column-gap: 4rem;
      @media screen and (min-width: 1256px) {
        display: flex;
      }
      @media screen and (max-width: 1256px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      ul {
        width: 120px;
        @include flex-row(4px);
        list-style: none !important;
      }
    }
  }

  .WHAT-GROUP {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  &-links {
    &-contacts {
      @include flex-col(0.75rem);
      img {
        height: 1.25rem;
      }
    }
    a {
      @include flex-col-center(0);
      font-weight: 500;
      img {
        margin-right: 0.25rem;
      }
      span {
        font-size: 0.9rem;

        color: #93a7ad;
      }
    }
    h4 {
      margin-bottom: 0.75rem;
      font-weight: 500;
      font-size: 0.9rem;
    }
    a {
      font-size: 0.9rem;
      color: #001418;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
