@import "mixins";

.pricing {
  padding-top: 120px;
  padding-bottom: 200px;
  background: #f9f7f6;
  @include flex-row-center(60px);
  @media screen and (min-width: 760px) {
    &-wrapper {
      max-width: 660px;
    }
  }
  &-wrapper {
    width: 100%;
    @include flex-row-center(24px);
  }
  select {
    width: 100%;
    padding: 12px 12px;

    border: 1px solid #e5e7eb;
    border-radius: 12px;
    color: #333;
    font-size: 1rem;
    font-family: "Inter", serif;
    font-weight: 500;
    appearance: none;
  }
  .selector-wrapper {
    width: 100%;
    @include flex-col-center(24px);
  }
  table {
    width: 100%;
    background: white;
    margin: 0 !important;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    border-spacing: 0;
    overflow: hidden;
    tr {
      display: grid;
      grid-template-columns: 1.2fr 0.8fr;
      width: 100%;
    }
    th {
      padding: 16px 24px;
      background: #f1f1f2;
      color: #111;
      border-bottom: 1px solid #f1f1f2;
      text-align: left;
    }
    td {
      padding: 18px 24px 18px 24px;
      // change bottom padding when more than one table row
    }
  }
}
